<!DOCTYPE html>
<html lang="en">

  <head>
    {% load staticfiles %}
    {% load widget_tweaks %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Experts in remodeling, repairing and building from top to bottom.
          We also buy houses - any condition, any area and any price.">
    <meta name="author" content="Scott A. Ruddle">
    <meta name="keywords" content="remodeling, remodel, repairing, repair, build, building, builder, home, 
          residential, commercial, foundation, excavating, excavation, we buy houses, home, flip, invest, 
          investor, investment, real estate">

    <title>{{title}}</title>

    <!-- Bootstrap Core CSS -->
        <link href="{% static 'app/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet" />

    <!-- Custom Fonts -->
        <link href="{% static 'app/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    
        <link href="{% static 'app/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" />
    
    <!-- Custom CSS -->
        <link href="{% static 'app/content/stylish-portfolio.css' %}" rel="stylesheet" />

    <!-- Site Specific CSS -->
        <link href="{% static 'app/content/site.css' %}" rel="stylesheet" />
          
  </head>


  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Restoration Plus Pros</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#we-buy-houses">We Buy Houses</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#investor">Investors</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>


      <!-- Form Submit Success Message -->
    {% if messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="text-align: center; background-color: #101820; color: white">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </p>
    {% endif %}


    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1 top-font">Restoration Plus Pros, Inc.</h1>
        <h3 class="mb-5 white-bordered">
          <em>Remodeling, Repairing and Building from Top to Bottom</em>
        </h3>
        <a class="btn mybtn btn-xl js-scroll-trigger" href="#about">More about us...</a>
      </div>
      <div class="overlay"></div>
    </header>

    

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Restoration Plus Pros is your one stop shop for all things construction! </h2>
            <p class="lead mb-5 text-just">With over 20 years in the business of remodeling, repairing and building new structures the people who make up Restoration Plus Pros are experts in many things.
              Why? Because we have done many things.
              We would love to put our experience to work for you and either help make your dreams come true or your nightmare disappear.
              We can handle any job, from foundations and flooring to the roof (and everything in between).
              Commercial or residential.  Home owners and investors have learned to depend on us. You can, too.</p>
            <h4 style="font-weight: bold; font-style: italic; margin-bottom: 55px;">Residential and Commercial</h4>
            <a class="btn mybtn btn-xl js-scroll-trigger" href="#services">Our Services</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Our Services</h3>
          <h2 class="mb-5">What We Can Do For You</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-refresh"></i>
            </span>
            <h4>
              <strong>Remodeling</strong>
            </h4>
            <p class="text-faded mb-0">We take what is worn out and old and make it new again.
              We have remodeled dozens of projects from barns to commercial buildings and everything in between.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-wrench"></i>
            </span>
            <h4>
              <strong>Repair</strong>
            </h4>
            <p class="text-faded mb-0">We can handle repairs both large and small. Structural or cosmetic.
              Sagging floors? Leaks in the basement or from the roof? Crumbling foundation? Old Windows? Call us.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-drop"></i>
            </span>
            <h4>
              <strong>Mold & Water Remediation</strong>
            </h4>
            <p class="text-faded mb-0">Water damage isn't just an eyesore.
              It can lead to much larger problems and can be hazardous to your health.
              We are certified mold remediation specialists and will help you sort out any and all issues related to water damage.</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-home"></i>
            </span>
            <h4>
              <strong>New Construction</strong>
            </h4>
            <p class="text-faded mb-0">Whether you are looking for a general contractor to oversee your project
              or a complete (start to finish) solution we can help you.  Foundations. Stick Frame. Steel. 
              Commercial or residential.</p>
          </div>
        </div>
      </div>
    </section>

          <!-- We Buy Houses -->
    <section class="content-section we-buy-houses text-center" id="we-buy-houses">
      <div class="container">
        <div class="content-section-heading">
          <h2 >We Buy Houses</h2>
          <h4 class="text-wbh">Any condition. Any area. Any price.</h4>
        </div>
        <div class="col-lg-12 mx-auto">
          <p class="text-just">Do you have a home you want to sell RIGHT NOW? An investment that has gone south?
            An eyesore or headache you would like to alleviate? How about a property that you believe has been damaged beyond repair?
            We would love to solve your problem.  It is true that one person's junk can be another's treasure.
            We are actively seeking out and purchasing properties all over the United States.
            What if you have a property that needs repairs (you can't afford) but you don't want to sell until the problems are fixed? 
            We can make that work, as well.
            Please call or email today to take your problem(s) off of your hands. A solution could be just a phone call or email away.
          </p>
        </div> 
        <div style="padding-top: 25px;">
            <a class="btn btn-xl mybtn3 js-scroll-trigger" href="#" data-toggle="modal" data-target="#contact-form">Buy My House</a>
        </div>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Our Portfolio</h3>
          <h2 class="mb-5">Some Recent Projects</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#" data-toggle="modal" data-target="#portfolio-pics1">
              <span class="caption">
                <span class="caption-content">
                  <h2 class="text-center">Full Home Remodel</h2>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'app/img/portfolio-1.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Flip This House</h2>
                  <p class="mb-0">A total rehab for an investor who more than doubled his money!</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/app/img/remodel.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Item #3</h2>
                  <p class="mb-0">Caption for the third item.</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/app/img/portfolio-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Item #4</h2>
                  <p class="mb-0">Caption for the fourth item.</p>
                </span>
              </span>
              <img class="img-fluid" src="../../static/app/img/portfolio-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Investor Call to Action -->
    <section id="investor" class="content-section bg-primary text-white">
      <div class="container text-center">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="mb-4">A Note to Investors</h2>
                <p class="mb-0 text-just">Larry "Dean" Miller, Jr. is the founder, owner and principle operator of Restoration Plus Pros, Inc.
                  Mr. Miller has over 20 years of hands on experience as both an investor and as a support team leader for other investors.
                  Many silent (and active) partners, including out of town investors, can attest to Mr. Miller's expertise in turning properties into profits.
                  Restoration Plus Pros is uniquely positioned in the Central Indiana market to help investors succeed in growing their own real estate portfolio.
                  If you are interested in exploring the possibilities then please contact Dean via phone or use the "Contact" button, below:</p>
            </div>
            <div class="col-lg-3" style="padding-top: 25px;">
                <img alt="Mr. Miller" class="img-fluid" src="../../static/app/img/helmet.jpg" />
                <p>This will be a picture of Dean</p>
            </div>
          </div>
          <div style="padding-top: 25px;">
            <a href="#" data-toggle="modal" data-target="#contact-form" class="btn btn-xl mybtn2">Contact</a>
          </div>
      </div>
    </section>

    <!-- Map -->
    <div class="container">
      <div class="row">
        <div id="contact" class="map col-lg-8" style="padding-top: 25px;">
          <iframe width="100%" height="100%" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=1221%20South%20Highschool%20Road%2C%20Indianapolis%2C%20IN%2046241+(Restoration%20Plus%20Pros%2C%20Inc.)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=B&amp;output=embed"></iframe>
        <br/> 
        <small>
          <a href="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=1221%20South%20Highschool%20Road%2C%20Indianapolis%2C%20IN%2046241+(Restoration%20Plus%20Pros%2C%20Inc.)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=B&amp;output=embed"></a>
        </small> 
        </div>
        <div class="col-lg-4">
          <h3 style="padding-top: 25px;">
            Restoration Plus Pros, Inc.
          </h3>
          <hr>
          <h5>
            1221 S. Highschool Rd.<br>Indianapolis, IN 46241<br>Phone: (317) 306-1825
          </h5>
          <a class="btn mybtn btn-xl js-scroll-trigger" style="padding-top: 15px;" href="#" data-toggle="modal" data-target="#contact-form">Contact Us</a>
        </div>
      </div>
    </div>


    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <!-- <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul> -->
        <p class="text-muted small mb-0">Copyright &copy; {{year}} Restoration Plus Pros, Inc.</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>


                <!-- Modal Dialog - Portfolio Pictures 1-->
                <div class="modal fade" id="portfolio-pics1" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title text-left">Full Home Remodel</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body row text-center">
                        <div class="col-lg-3">
                          <img class="my-img" alt="bathroom" src="../../static/app/img/bathroom.jpg" />
                        </div>
                        <div class="col-lg-3">
                          <img class="my-img" alt="window" src="../../static/app/img/window.jpg" />
                        </div>
                        <div class="col-lg-3">
                          <img class="my-img" alt="concrete" src="../../static/app/img/repair.jpg" />
                        </div>
                        <div class="col-lg-3">
                          <img class="my-img" alt="new" src="../../static/app/img/new-construction.jpg" />
                        </div>
                        <p class="modal-caption">Turned a worn out home on a great piece of ground (3.5 acres) into a beautiful family dwelling place.</p>
                      </div>
                    </div>
                  </div>
                </div>


                   <!-- Modal Contact Form -->
                <div class="modal fade" id="contact-form" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 15px;">
                      <div class="modal-header">
                        <h4 class="modal-title text-center">Send us an Email</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                          <div class="form-group col-lg-4">
                            <label>Name</label>
                            {% render_field form.contact_name class="form-control" %}
                          </div>
                          <div class="form-group col-lg-4">
                            <label>Email Address</label>
                            {% render_field form.contact_email class="form-control" %}
                          </div>
                          <div class="form-group col-lg-4">
                            <label>Phone Number</label>
                            {% render_field form.contact_phone class="form-control" %}
                          </div>
                          <div class="clearfix"></div>
                          <div class="form-group col-lg-12">
                            <label>Message</label>
                            {% render_field form.content class="form-control" %}
                          </div>
                          <div class="form-group col-lg-12">
                            <input type="hidden" value="contact" name="save">
                            <button class="btn btn-default" type="submit">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

    <!-- Bootstrap core JavaScript -->
    {#<script src="vendor/jquery/jquery.min.js"></script>#}
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    
    {#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
      <!-- Plugin JavaScript -->
    {#<script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Custom scripts for this template -->
    {#<script src="js/stylish-portfolio.min.js"></script>#}
    <script src="{% static 'app/scripts/stylish-portfolio.min.js' %}"></script>

  </body>

</html>
